# \<DataFrame/Series\>.iloc

`iloc` is a way of selecting elements from DataFrames/Series using it index position like this `[<row number>,<column number>]`.

In the next cell I create the data frame for the experiments.

In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML

sample_size = 10

test_df = pd.DataFrame(
    {
        "a":np.random.choice(range(10), sample_size),
        "b":np.random.choice(range(10), sample_size)
    },
    index = [chr(i) for i in range(ord("a"), ord("a")+sample_size)]
)
test_df

   a  b
a  5  8
b  1  4
c  7  3
d  1  3
e  4  1
f  1  5
g  9  1
h  8  0
i  9  4
j  2  3

# Editable

You can edit element that you access throw `.iloc`.

So in following example I edited one element by accessing it through `iloc`.

In [3]:
edit_df_test = test_df.copy()
display(HTML("<b>Initial df</b>"))
display(edit_df_test)

edit_df_test.iloc[1,1] = "hello"
display(HTML("<b>Edited df</b>"))
display(edit_df_test)

   a  b
a  5  8
b  1  4
c  7  3
d  1  3
e  4  1
f  1  5
g  9  1
h  8  0
i  9  4
j  2  3

   a      b
a  5      8
b  1  hello
c  7      3
d  1      3
e  4      1
f  1      5
g  9      1
h  8      0
i  9      4
j  2      3

**Note** You can only edit an item via `iloc` if you access it directly. If you get a table column via `df.iloc[<row>]` and then apply the `[<column>]` operator to it, it won't work.

So in the following example I try to edit `pandas.DataFrame` using `df.iloc[<row>][<column>]` to edit the dataframe, but find out that the dataframe has not been edited.

In [4]:
edit_df_test = test_df.copy()
display(HTML("<b>Initial df</b>"))
display(edit_df_test)

edit_df_test.iloc[1][1] = "hello"
display(HTML("<b>Edited df</b>"))
display(edit_df_test)

   a  b
a  5  8
b  1  4
c  7  3
d  1  3
e  4  1
f  1  5
g  9  1
h  8  0
i  9  4
j  2  3

   a  b
a  5  8
b  1  4
c  7  3
d  1  3
e  4  1
f  1  5
g  9  1
h  8  0
i  9  4
j  2  3