# \<DataFrame/Series\>.loc

`loc` is a way of selecting elements from DataFrames/Series using index/column names.

In the next cell I create the data frame for the experiments.

In [2]:
import pandas as pd
import numpy as np
from IPython.display import HTML

sample_size = 10

test_df = pd.DataFrame(
    {
        "a":np.random.choice(range(10), sample_size),
        "b":np.random.choice(range(10), sample_size)
    },
    index = [chr(i) for i in range(ord("a"), ord("a")+sample_size)]
)
test_df

   a  b
a  1  3
b  0  6
c  7  7
d  1  6
e  3  9
f  4  8
g  4  6
h  1  0
i  9  1
j  8  5

# Slices

## Basic

You can apply slices by index values.

**Note** Although basic python slices use don't include the last element, pandas slices ignore this rule and will include it.

So the following example just shows it - I've got a slice from `e` to `h` **including h**:

In [13]:
test_df["e":"h"]

   a  b
e  6  6
f  1  8
g  4  0
h  6  7

## Only df order

You should only mention elements in the order in which they appear in the dataframe - there's no ascending rule for slicing.

In the following example I'm trying to apply the same slicing as before to inverted dataframe and got the empty slice because in dataframe's order "h" element is higher than "e".

In [22]:
inv_df = test_df.iloc[::-1]
display(HTML("<b>Indersed dataframe</b>"))
display(inv_df)
display(HTML("<b>Slice</b>"))
display(inv_df["e":"h"])

   a  b
j  9  7
i  5  3
h  6  7
g  4  0
f  1  8
e  6  6
d  0  9
c  8  8
b  9  8
a  0  9

Empty DataFrame
Columns: [a, b]
Index: []

# Editable

If you edit a value accessed via loc, it will change in the original dataframe.

That's what I do in the following example by substituting one of the values with the string "hello".

In [36]:
edit_df_test = test_df.copy()
display(HTML("<b>Initial df</b>"))
display(edit_df_test)

edit_df_test.loc["b","b"] = "hello"
display(HTML("<b>Edited df</b>"))
display(edit_df_test)

   a  b
a  8  6
b  9  5
c  0  6
d  0  5
e  4  9
f  1  5
g  5  4
h  7  2
i  2  7
j  4  3

   a      b
a  8      6
b  9  hello
c  0      6
d  0      5
e  4      9
f  1      5
g  5      4
h  7      2
i  2      7
j  4      3

**Note** You can only edit an item via `loc` if you access it directly. If you get a table column via `df.loc[<row>]` and then apply the `[<column>]` operator to it, it won't work.

So in the following example I try to edit `pandas.DataFrame` using `df.loc[<row>][<column>]` to edit the dataframe, but find out that the dataframe has not been edited.

In [3]:
edit_df_test = test_df.copy()
display(HTML("<b>Initial df</b>"))
display(edit_df_test)

edit_df_test.loc["a"]["b"] = "hello"
display(HTML("<b>Edited df</b>"))
display(edit_df_test)

   a  b
a  1  3
b  0  6
c  7  7
d  1  6
e  3  9
f  4  8
g  4  6
h  1  0
i  9  1
j  8  5

   a  b
a  1  3
b  0  6
c  7  7
d  1  6
e  3  9
f  4  8
g  4  6
h  1  0
i  9  1
j  8  5